.header_container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 300px;
	background: #1F2937;
}
 

.header_top {
	display: flex;
	flex: 1 1 0%;
	justify-content: center;
	gap: 10%;
	
}

.header_bottom {
	display: flex;
	flex: 1 1 0%;
	justify-content: center;
	margin-left: 15%;
	margin-right: 15%;

}

.header_bottom_links {
	flex: 1 1 0%;
	text-align: center;
	text-transform: uppercase;
}

.header_top_title {
	flex: 1 1 0%;
	text-align: center;
	font-size: 72px;
}

.main_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 400px;
	margin-top: 200px;
}


.main_top {
	display: flex;
	flex: 1 1 0%;
	justify-content: center;
}

.main_bottom {
	display: flex;
	flex: 2 1 0%;
	justify-content: center;
	align-items: start;
}

.main_title {
	flex: 1 1 0%;
	text-align: center;
	font-size: 50px;
}

.main_shop_all {
	text-align: center;
	font-size: 18px;
	border: 2px solid #ffffff;
	padding: 10px 20px;
}

.category_container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.shop_by_category {
	flex: 1 1 0%;
	text-align: center;
	font-size: 36px;
	margin-bottom: 45px;
}

.image_container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
	gap: 5%;
	margin-left: 10%;
	margin-right: 10%;
	justify-items: center;
	align-items: center;
}

.images {
	text-align: center;
	height: 450px;
	width: 95%;
	max-width: 450px;
	max-height: 450px;
	filter: brightness(50%);
}

.image_1 {
	grid-column-start: 1;
	grid-row-start: 1;
}
.image_2 {
	grid-column-start: 2;
	grid-row-start: 1;
}
.image_3{
	grid-column-start: 3;
	grid-row-start: 1;
}


.image_text {
	font-size: 16px;
	text-align: center;
	border: 2px solid black;
	font-weight: bold;
	padding: 10px 20px;
	z-index: 1;
}

.text_1 {
	grid-column-start: 1;
	grid-row-start: 1;
}

.text_2 {
	grid-column-start: 2;
	grid-row-start: 1;
}

.text_3 {
	grid-column-start: 3;
	grid-row-start: 1;
}
