body {
	margin: 0;
	font-family: "IBM plex sans", sans-serif;
}



.header-container {
	display: flex;
	flex-direction: column;
	height: 200px;
} 

.header-logo-container {
	flex: 0.5 1 0%;
	display: flex;
	justify-content: end;
}
.header-logo {
	height: 125px;
	width: 125px;
}

.header-title-container {
	display: flex;
	flex: 1 1 0%;
	align-items: center;
}
.header-title {
	flex: 1 1 0%;
	font-size: 72px;
}

.header-link-container {
	display: flex;
	flex: 1 1 0%;
	align-items: center;
	justify-content: center;
	gap: 75px;

}
.header-bottom-links {
	flex: 0 0 0%;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
}



.main-container {
	display: flex;
	flex-direction: column;
	height: 600px;
	background: url(./product_images/banner_image) repeat fixed 100%;
}

.main-title-container {
	display: flex;
	flex: 0.7 1 0%;
	margin-top: 200px;
}
.main-title {
	flex: 1 1 0%;
	text-align: center;
	font-size: 50px;
	color: white;
	font-weight: 500;
}

.main-shop-container {
	display: flex;
	flex: 2 1 0%;
	justify-content: center;
	align-items: start;
}
.main-shop-all {
	text-align: center;
	font-size: 18px;
	border: 2px solid #ffffff;
	padding: 10px 20px;
	color: white;
}
.main-shop-all a {
	color: inherit;
	text-decoration: none;
}



.category-container {
	display: flex;
	height: 120px;
	align-items: center;
}
.shop-by-category {
	flex: 1 1 0%;
	text-align: center;
	font-size: 36px;
	font-weight: 500;
}

.image-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: 30px;
	margin-left: 7%;
	margin-right: 7%;
	justify-items: center;
}
.images {
	text-align: center;
	height: 450px;
	width: 100%;
	max-width: 500px;
	max-height: 450px;
	filter: brightness(70%);
}
.image-1 {
	grid-column-start: 1;
	grid-row-start: 1;
}
.image-2 {
	grid-column-start: 2;
	grid-row-start: 1;
}
.image-3{
	grid-column-start: 3;
	grid-row-start: 1;
}

.image-text {
	font-size: 16px;
	text-align: center;
	border: 2px solid white;
	font-weight: bold;
	padding: 10px 20px;
	z-index: 1;
	color: white;
}
.text-1 {
	grid-column-start: 1;
	grid-row-start: 1;
}
.text-2 {
	grid-column-start: 2;
	grid-row-start: 1;
}
.text-3 {
	grid-column-start: 3;
	grid-row-start: 1;
}



.intention-title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 125px;
	margin-top: 75px;
}
.intention-title {
	flex: 1 1 0%;
	font-size: 32px;
	font-weight: 500;
}

.intention-assurance {
	flex: 1.5 1 0%;
}



.intention-container {
	display: flex;
	height: 500px;
	transition: 800ms;
	position: relative;
}
.intention-container.confidence {
	background-color: #fffee7;
}
.intention-container.energy {
	background-color: #fff6e5;
}
.intention-container.balance {
	background-color: #e6eafd;
}
.intention-container.intuition {
	background-color: #f1eaf6;
}
.intention-container.love {
	background-color: #fdf3fb;
}
.intention-container.manifestation {
	background-color: #e6f7e6;
}
.intention-container.peace {
	background-color: #e5f8ff;
}
.intention-container.pregnancy {
	background-color: #fee5e4;
}
.intention-container.protection {
	background-color: #f5efea;
}

.left-side-intention-container {
	flex: 1 1 0%;
	display: flex;
}

.intention-info-container {
	display: flex;
	flex: 1 1 0%;
	margin-left: 20%;
	margin-right: 10%;
	margin-top: 15px;
	margin-bottom: 2%;
	max-width: 450px;
	max-height: 450px;
	transition: 800ms;
	flex-direction: column;
	align-items: start;
}
.intention-info-container.confidence {
	background-color: #fbfbf4;
}
.intention-info-container.energy {
	background-color: #fbf8f3;
}
.intention-info-container.balance {
	background-color: #f4f5fa;
}
.intention-info-container.intuition {
	background-color: #f7f5f8;
}
.intention-info-container.love {
	background-color: #faf7fa;
}
.intention-info-container.manifestation {
	background-color: #f4f9f4;
}
.intention-info-container.peace {
	background-color: #f3f9fb;
}
.intention-info-container.pregnancy {
	background-color: #fbf3f3;
}
.intention-info-container.protection {
	background-color: #f8f6f5;
}



.confidence-intention-type.active,
.energy-intention-type.active,
.balance-intention-type.active,
.intuition-intention-type.active,
.love-intention-type.active,
.manifestation-intention-type.active,
.peace-intention-type.active,
.pregnancy-intention-type.active,
.protection-intention-type.active,
.confidence-intention-description.active,
.energy-intention-description.active,
.balance-intention-description.active,
.intuition-intention-description.active,
.love-intention-description.active,
.manifestation-intention-description.active,
.peace-intention-description.active,
.pregnancy-intention-description.active,
.protection-intention-description.active,
.confidence-intention-shop.active,
.energy-intention-shop.active,
.balance-intention-shop.active,
.intuition-intention-shop.active,
.love-intention-shop.active,
.manifestation-intention-shop.active,
.peace-intention-shop.active,
.pregnancy-intention-shop.active,
.protection-intention-shop.active,
.confidence-intention-image.active,
.energy-intention-image.active,
.balance-intention-image.active,
.intuition-intention-image.active,
.love-intention-image.active,
.manifestation-intention-image.active,
.peace-intention-image.active,
.pregnancy-intention-image.active,
.protection-intention-image.active {
	opacity: 100%;
}



.intention-type-container {
	flex: 0.5 1 0%;
	margin-top: 3%;
	margin-left: 3%;
	display: grid;
	grid-template-columns: 1fr;
}
.intention-type-container * {
	font-size: 36px;
	transition: 800ms;
	opacity: 0;
	grid-row-start: 1;
	grid-column-start: 1;
	font-weight: 500;
}

.intention-description-container {
	flex: 1 1 0%;
	margin-left: 3%;
	display: grid;
	grid-template-columns: 1fr;
}
.intention-description-container * {
	transition: 800ms;
	opacity: 0;
	grid-row-start: 1;
	grid-column-start: 1;
}

.intention-shop-container {
	flex: 1 1 0%;
	margin-left: 3%;
}
.intention-shop-container * {
	font-weight: 700;
	border: 2px solid black;
	transition: 800ms;
	opacity: 0;
	position: absolute;
	padding: 10px 20px;
}

.intention-image-container {
	display: grid;
	grid-template-rows: minmax(0, 1fr);
	grid-template-columns: 1fr;
	flex: 1 1 0%;
	align-items: center;
	justify-items: center;
	transition: 800ms;
}
.intention-image-container * {
	height: 85%;
	width: 75%;
	transition: 800ms;
	grid-row-start: 1;
	grid-column-start: 1;
	opacity: 0;
}
.intention-image-container.confidence {
	background-color: #fef7a3;
}
.intention-image-container.energy {
	background-color: #fedc98;
}
.intention-image-container.balance {
	background-color: #99abf2;
}
.intention-image-container.intuition {
	background-color: #c4aad7;
}
.intention-image-container.love {
	background-color: #f8ccef;
}
.intention-image-container.manifestation {
	background-color: #9bdd99;
}
.intention-image-container.peace {
	background-color: #95e5ff;
}
.intention-image-container.pregnancy {
	background-color: #ff9795;
}
.intention-image-container.protection {
	background-color: #d1c0aa;
}

.left-arrow-container {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 2rem;
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-radius: 50%;
	transition: 800ms;
	cursor: pointer;
}
.left-arrow-container:hover {
	background-color: #e7e7e7;
}
.left-arrow-container:active {
	opacity: 40%;
	transition: 0s;
}
.left-arrow {
	border: solid black;
	border-width: 0 2px 2px 0;
	transform: rotate(135deg);
	height: 10px;
	width: 10px;
}

.right-arrow-container {
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 2rem;
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-radius: 50%;
	transition: 800ms;
	cursor: pointer;
}
.right-arrow-container:hover {
	background-color: #e7e7e7;
}
.right-arrow-container:active {
	opacity: 40%;
	transition: 0s;
}
.right-arrow {
	border: solid black;
	border-width: 0 2px 2px 0;
	transform: rotate(-45deg);
	height: 10px;
	width: 10px;
}



.footer-spacer {
	height: 1px;
	background-color: grey;
	margin-top: 75px;
	width: 90%;
	margin-inline: auto;
}



.footer-container {
	height: 400px;
	display: flex;
	margin-top: 60px;
	margin-bottom: 30px;
	margin-left: 5%;
	margin-right: 5%;
}

.about-container {
	display: flex;
	flex: 1 1 0%;
	flex-direction: column;
}
.about-title {
	flex: 0 1 0%;
	font-size: 18px;
	font-weight: 500;
	margin-left: 45px;
}

.about-image-container {
	flex: 0 1 0%;
}
.about-image {
	height: 175px;
	width: 175px;
}

.about-description {
	flex: 1 1 0%;
	margin-left: 45px;
}

.shop-container {
	display: flex;
	flex: 0.5 1 0%;
	flex-direction: column;
	margin-bottom: 5%;
	margin-left: 5%;
}
.shop-list {
	flex: 1 1 0%;
}
.shop {
	font-weight: 500;
	font-size: 18px;
	flex: 1.25 1 0%;
}

.getting-in-touch-container {
	display: flex;
	flex: 1 1 0%;
	flex-direction: column;
	margin-bottom: 10%;
}
.getting-in-touch {
	flex: 1 1 0%;
	text-decoration: underline;
}
.getting-in-touch-title {
	font-weight: 500;
	font-size: 18px;
	flex: 1.125 1 0%;
	text-decoration: none;
}



.copyright-container {
	display: flex;
	height: 75px;
	background-color: #838e8e;
	align-items: center;
}
.copyright {
	text-align: center;
	flex: 1 1 0%;
	color: white;
}
