body {
	margin: 0;
	font-family: "IBM plex sans", sans-serif;
}



.header-container {
	height: 175px;
	display: flex;
	position: sticky;
	top: 0;
	background: white;
}

.header-banner-container {
	flex: 0.4 1 0%;
	display: flex;
	align-items: center;
	justify-content: end;
}

.header-logo-container {
	flex: 0.5 1 0%;
	display: flex;
	justify-content: end;
}
.header-logo {
	height: 100px;
	width: 100px;
}

.header-title-container {
	display: flex;
	flex: 1 1 0%;
}
.header-title {
	font-size: 32px;
}

.search-bar-container {
	flex: 1 1 0%;
	display: flex;
	align-items: center;
}
.search-bar {
	width: 100%;
	max-width: 900px;
	background: #f2f4f6;
	border-radius: 24px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 0.75rem 0 0.75rem 1.5rem;
	display: flex;
}
.search {
	border: none;
	font-size: 16px;
	flex: 1 1 0%;
	background: inherit;
}
.search:focus {
	outline: none;
}
.search:focus::placeholder {
	opacity: 0.5;
}

.search-button {
	margin-right: 30px;
	color: #788087;
}
.search-button:hover {
	opacity: 0.5;
	cursor: pointer;
	transition: 500ms;
}


.body-container {
	display: flex;
	max-width: 1400px;
	padding: 24px 32px 0px;
	width: 100%;
	margin: auto;
}
.filter-container {
	display: flex;
	flex: 0 1 240px;
	height: 2000px;
	flex-direction: column;
	margin-right: 48px;
}
.filter {
	font-size: 14px;
	font-weight: bold;
	color: #3a3a3a;
	border-bottom: 1px solid #e3e3e3;
	padding: 15px 0;
}
.filter-title::after {
	font-family: "FontAwesome";
	content: "\f107";
	margin-left: 5px;
}

.collection-title.expanded::after {
	content: "\f106";
}

.color-title.expanded::after {
	content: "\f106";
}

.collection-text {
	transition: all .5s ease;
	overflow: hidden;
	max-height: 0;
}

.color-text {
	transition: all .5s ease;
	overflow: hidden;
	max-height: 0;
}
.filter-item {
	list-style-type: none;
	font-weight: normal;
	margin-top: 5px;
}

.filter-label {
	cursor: pointer;
}


.filter-input {
	display: none;
}
.filter-span {
	height: 12px;
	width: 12px;
	border: 1px solid grey;
	display: inline-block;
	position: relative;
	margin-left: 5px;
	border-radius: 15%;
	margin-right: 5px;
}
.collection-label:hover > .collection-span {
	background-color: #e8e8e8;
}


.filter-input:checked + .filter-span {
	background-image: url("./shop_images/checkmark.svg");
	background-position: center;
	background-size: 15px 15px;
	border-color: black;
}



.title-container {
	display: flex;
	flex-direction: column;
	height: 100px;
	flex: 1 1 0%;
}
.title {
	font-size: 36px;
	flex: 1 1 0%;
	font-weight: 600;
}

.sort-container {
	display: flex;
	flex: 1 1 0%;
	align-items: end;
}
.item-count {
	flex: 1 1 0%;
}

.sort-by-container {
	display: flex;
	position: relative;
	padding-right: 60px;
}
.sort-by-container.active > .sort-button + .sort-content {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}
.sort-by-container.active > .sort-button::after {
	content: "\f106";
}

.sort-button {
	list-style-type: none;
	background: none;
	border: none;
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	padding: 0;
}
.sort-button::after {
	font-family: "FontAwesome";
	content: "\f107";
	padding-left: 16px;
}

.sort-content {
	position: absolute;
	top: calc(100% + .25rem);
	list-style-type: none;
	background-color: white;
	border-radius: .25rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
	opacity: 0;
	pointer-events: none;
	transform: translateY(-10px);
	transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

}
.sort-content li {
	padding: .75rem;
}
.sort-content li:hover {
	background: #e8e8e8;
	transition: 300ms;
	cursor: pointer;
}
