body {
	margin: 0;
	font-family: "IBM plex sans", sans-serif;
}



.header-container {
	height: 175px;
	display: flex;
	position: sticky;
	top: 0;
	background: white;
}

.header-banner-container {
	flex: 0.4 1 0%;
	display: flex;
	align-items: center;
	justify-content: end;
}

.header-logo-container {
	flex: 0.5 1 0%;
	display: flex;
	justify-content: end;
}
.header-logo {
	height: 100px;
	width: 100px;
}

.header-title-container {
	display: flex;
	flex: 1 1 0%;
}
.header-title {
	font-size: 32px;
}



.search-bar-container {
	flex: 1 1 0%;
	display: flex;
	align-items: center;
}
.search-bar {
	width: 100%;
	max-width: 900px;
	background: #f2f4f6;
	border-radius: 24px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 0.75rem 0 0.75rem 1.5rem;
	display: flex;
}
.search {
	border: none;
	font-size: 16px;
	flex: 1 1 0%;
	background: inherit;
}
.search:focus {
	outline: none;
}
.search:focus::placeholder {
	opacity: 0.5;
}

.search-button {
	margin-right: 30px;
	color: #788087;
}
.search-button:hover {
	opacity: 0.5;
	cursor: pointer;
	transition: opacity 500ms;
}



.body-container {
	display: flex;
	max-width: 1400px;
	padding: 24px 32px 0px;
	width: 100%;
	margin: auto;
}
.filter-container {
	display: flex;
	flex: 0 1 240px;
	height: 2000px;
	flex-direction: column;
	margin-right: 48px;
}
.filter {
	font-size: 14px;
	font-weight: bold;
	color: #3a3a3a;
	border-bottom: 1px solid #e3e3e3;
	padding: 15px 0;
}
.filter-title {
	cursor: pointer;
}
.filter-title::after {
	content: "\f107";
	margin-left: 5px;
	font-family: "fontAwesome";
}

.filter-display-text {
	margin-left: 5px;
	width: 90%;
	position: relative;
	margin-top: 5px;
}

.filter-display-item {
	padding-bottom: 2px;
	margin-bottom: 3px;
	list-style-type: none;
	font-weight: normal;
}
.filter-display-item::first-letter {
	text-transform: capitalize;
}
.filter-display-item::after {
	content: "x";
	font-size: 18px;
	position: absolute;
	left: 95%;
}
.filter-display-item:hover {
	cursor: pointer;
	transition: font-weight 200ms ease-out;
	font-weight: 600;
}


.collection-title.expanded::after,
.price-title.expanded::after,
.color-title.expanded::after,
.shape-title.expanded::after,
.chakra-title.expanded::after,
.intention-title.expanded::after {
	content: "\f106";
}
.filter-text {
	transition: max-height 500ms ease;
	overflow: hidden;
	max-height: 0;
}
.filter-item {
	list-style-type: none;
	font-weight: normal;
	margin-top: 5px;
}
.filter-label {
	cursor: pointer;
}
.filter-label:hover > .filter-span {
	background-color: #e1e1e1;
	transition: background 150ms ease-out;
}
.filter-input {
	display: none;
}
.filter-input:checked + .filter-span {
	background-image: url("./shop_images/checkmark.svg");
	background-position: center;
	background-size: 15px 15px;
	border-color: black;
}

.filter-span {
	height: 12px;
	width: 12px;
	border: 1px solid grey;
	display: inline-block;
	position: relative;
	margin-left: 5px;
	border-radius: 15%;
	margin-right: 5px;
}



.price-grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	margin-left: 5%;
	margin-right: 5%;
}
#max-price-value {
	text-align: end;
}

#track-container {
	grid-row-start: 2;
	grid-column-start: 1;
	grid-column-end: span 2;
	position: relative;
	height: 3px;
	background-color: #e1e1e1;
	margin-top: 10px;
	margin-bottom: 10px;
}
#slider-track {
	background-color: #838e8e;
	height: 100%;
	position: absolute;
}
.price-range-slider {
	width: 100%;
	position: absolute;
	-webkit-appearance: none;
	outline: none;
	border-radius: 12px;
	background: transparent;
	pointer-events: none;
	appearance: none;
	height: 100%;
	margin: 0px;
}

.price-range-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 15px;
	width: 15px;
	background: white;
	border: 1px solid #838e8e;
	border-radius: 50%;
	cursor: pointer;
	pointer-events: auto;
}



.title-container {
	display: flex;
	flex-direction: column;
	height: 100px;
	flex: 1 1 0%;
}
.title {
	font-size: 36px;
	flex: 1 1 0%;
	font-weight: 600;
}

.sort-container {
	display: flex;
	flex: 1 1 0%;
	align-items: end;
}
.item-count {
	flex: 1 1 0%;
}

.sort-by-container {
	display: flex;
	position: relative;
	padding-right: 60px;
}
.sort-by-container.active > .sort-button + .sort-content {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}
.sort-by-container.active > .sort-button::after {
	content: "\f106";
}

.sort-button {
	list-style-type: none;
	background: none;
	border: none;
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	padding: 0;
}
.sort-button::after {
	font-family: "FontAwesome";
	content: "\f107";
	padding-left: 16px;
}

.sort-content {
	position: absolute;
	top: calc(100% + .25rem);
	list-style-type: none;
	background-color: white;
	border-radius: .25rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
	opacity: 0;
	pointer-events: none;
	transform: translateY(-10px);
	transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

}
.sort-content li {
	padding: .75rem;
}
.sort-content li:hover {
	background: #e8e8e8;
	transition: background 100ms ease-out;
	cursor: pointer;
}
